# Ignore Maven or Gradle build directories
/target/
/build/

# Ignore dependencies (for Maven and Gradle)
/.m2/
/.gradle/

# Ignore IDE-specific files (IntelliJ, Eclipse, etc.)
.idea/
/.vscode/
/*.iml
*.classpath
*.project

# Ignore logs
*.log

# Ignore application-specific configuration files (like .env or .properties)
application.properties
application.yml

# Ignore temporary files created by the OS
.DS_Store
Thumbs.db

# Ignore the Spring Boot jar/war packaging files (if you build them locally)
*.jar
*.war
